<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="studentList">
    <div class="box-header">
        <a class="btn  btn-app">
            <i class="fa fa-save"></i>添加
        </a>
        <a class="btn  btn-app">
            <i class="fa fa-edit"></i>修改
        </a>
        <a class="btn btn-app">
            <i class="fa fa-remove"></i>删除
        </a>
    </div>
    <table id="student_table" class="display">
        <thead>
        <tr>
            <th>选择</th>
            <th>姓名</th>
            <th>QQ</th>
            <th>群名称</th>
            <th>群号码</th>
            <th>跟进阶段</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
</body>
</html>
