<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="studentList">
    <div id='pop_html' style='height:140px;'>
        <form class='form-horizontal container-fluid'>
            <div class='row'>
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="user">跟踪老师</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" id="user"
                               placeholder="老师姓名"/>
                    </div>
                    <label class="col-sm-1 control-label" for="studentQQ">QQ</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" id="studentQQ"
                               placeholder="请输入学员qq"/>
                    </div>
                    <label class="col-sm-1 control-label" for="qunName">群名称</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" id="qunName"
                               placeholder="请输入群名"/>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="qunNum">群号</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" id="qunNum"
                               placeholder="请输入群号"/>
                    </div>
                    <label class="col-sm-1 control-label" for="stage">跟踪阶段</label>
                    <div class="col-sm-2">
                        <select class="form-control input-sm" id="stage" name="stage"
                                placeholder="请选择片区">
                            <option value="">请选择</option>
                            <option value="0">未跟进</option>
                            <option value="1">已跟进</option>
                        </select>
                    </div>
                    <label class="col-sm-1 control-label" for="mark">备注</label>
                    <div class="col-sm-2">
                        <select class="form-control input-sm" id="mark" name="mark"
                                placeholder="请选择片区">
                            <option value="">请选择</option>
                            <option value="0">未跟进</option>
                            <option value="1">正常</option>
                            <option value="2">未联系到-登陆正常</option>
                            <option value="3">未联系到-长时间未登录</option>
                            <option value="4">账号已过期</option>
                            <option value="5">查询不到</option>
                            <option value="6">脱产</option>
                            <option value="7">其他(试听等)</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class="form-group">
                    <label class="col-sm-1 control-label" >选择时间</label>
                    <div class="col-sm-2 ">
                        <input type="text" class="form-control input-sm" name="datefilter" value=""
                               placeholder="点击选择"/>
                    </div>
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-success btn-lg btn-block" id="searchBtn">搜索
                        </button>
                    </div><label class="col-sm-1 control-label"></label>
                    <div class="col-sm-2">
                        <a class="btn btn-success btn-lg btn-block" target="_blank"
                            href="https://das.base.shuju.aliyun.com/token3rd/dashboard/view/pc.htm?pageId=c4bab706-defb-4436-906c-f897469ff53c&amp;accessToken=bc12023bf9c5ddd27cfa2f2d9d6e3464">数据报表</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <table id="student_table" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>QQ</th>
            <th>群名称</th>
            <th>群号码</th>
            <th>跟进阶段</th>
            <th>聊天</th>
            <th>操作</th>
            <th class="col-md-4">标签</th>
            <th>删除学员</th>
            <th>操作人</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">学员备注信息</h4>
                </div>
                <div class="modal-body" id="modalBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modelBtn">关闭</button>
                    <button type="button" class="btn btn-primary" id="remarkBtn" onclick="submitRemark()">提交更改</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
</body>
</html>
