<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
data: null, render: function (data, type, row, meta) {
switch (row.mark) {
case 1:
return '<div class="btn-group" role="group"><button type="button" class="btn btn-default" disabled="true">正常</button></div>';
break;
case 2:
return '<div class="btn-group" role="group">
    <button type="button" class="btn btn-default" disabled="true">未联系到</button>
</div>';
break;
case 3:
return return '<div class="btn-group" role="group">
    <button type="button" class="btn btn-default" disabled="true">脱产</button>
</div>';
break;
case 4:
return return '<div class="btn-group" role="group">
    <button type="button" class="btn btn-default" disabled="true">试听</button>
</div>';
break;
default :
return '<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" onclick="changeStage(' + row.studentQQ + ','+1+')">正常</button>
    <button type="button" class="btn btn-default" onclick="changeStage(' + row.studentQQ + ','+2+')">未联系到</button>
    <button type="button" class="btn btn-default" onclick="changeStage(' + row.studentQQ + ','+3+')">脱产</button>
    <button type="button" class="btn btn-default" onclick="changeStage(' + row.studentQQ + ','+4+')">试听</button>
</div>';

}
</body>
</html>