<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/common_top :: commonTop"></head>

<body class="hold-transition skin-blue-light fixed">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header" th:include="/common/main_header :: mainHeader">

    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar" th:include="/common/main_sidebar :: mainSidebar">

    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <section class="content container-fluid">
            <div th:include="${'/pages/'+title}"></div>
        </section>
        <!-- /.content -->
    </div>

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
        </div>
        <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark"
           th:include="/common/main_controlSidebar :: controlSidebar"></aside>
</div>
<div th:include="/common/onload_js :: onloadJS"></div>
<!-- 加载页面-->
<script>
    $(function () {
        var table = $('#student_table').DataTable({
            dom: 'Brtlip',
            buttons: [
                'copy', 'excel', 'pdf'
            ],
            lengthMenu: [10, 20, 30, 50, 100],
            destroy: true,
            paging: true,
            serverSide: true,
            autoWidth: true,
            deferRender: true,
            ordering: true,
            orderCellsTop: true,
            ajax: {
                url: "/student/findAll",
                type: "POST",
                data: function (data) {
                    return JSON.stringify(data);
                },
                dataType: "json",
                processData: false,
                async: false,
                contentType: 'application/json;charset=UTF-8'

            },

            columns: [//对接收到的json格式数据进行处理，data为json中对应的key
                {data: "id"},
                {data: "studentName"},
                {data: "studentQQ"},
                {data: "qunName"},
                {data: "qunNum"},
                {data: "stage"},
                {
                    data: null, render: function (data, type, row, meta) {
                        return '<a class="btn btn-info"  target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin='+row.studentQQ+'&amp;site=qq&amp;menu=yes">聊天</a>';
                    }
                },
                {
                    data: null, render: function (data, type, row, meta) {
                        if (row.stage==1) {
                            return '<a class="btn btn-info" id="' + row.studentQQ + '" onclick="changeStage(' + row.studentQQ + ')" disabled="true">已回访</a>';
                        }else{
                            return '<a class="btn btn-info" id="' + row.studentQQ + '" onclick="changeStage(' + row.studentQQ + ')">回访</a>';
                        }
                    }
                }
            ],
            language: { //中文支持
                sUrl: "/webjars/datatables-plugins/1.10.16/i18n/Chinese.json"
            }
        });

    });
    function changeStage(qq) {
        $.ajax({
            type: 'POST',
            url: "/student/changeStage",
            data: {'studentQQ': qq},
            success: function (data) {
                if (data.data.stage == 1) {
                    $("#"+qq).attr('disabled',"true");
                    $("#"+qq).html("已回访");
                }
            }
        });
    }
</script>
</body>
</html>