<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>邮件</title>
</head>
<body>
<div>
    <h5>TMOOC教研部-黄建清—本周工作总结及下周工作计划</h5>
    <div>
        <p style="text-align: left">王老师您好：</p>
        <p>以下是本周工作计划及下周工作计划，本周工作计划请<a th:href="${filePath}">查阅附件</a>，谢谢</p>
        <p>1、本周答疑量：<span th:text="${note.answer}"></span></p>
        <p>2、本周远程：<span th:text="${note.remote}"></span></p>
        <p>3、本周跟进人数：<span th:text="${note.count}"></span></p>
        <p>下周工作计划：</p>
    </div>
</div>
</body>
</html>