<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/common_top :: commonTop('首页')"></head>

<body class="hold-transition skin-blue-light fixed">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header" th:include="/common/main_header :: mainHeader">

    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar" th:include="/common/main_sidebar :: mainSidebar">

    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <section class="content container-fluid">

            <!-- 页面主体部分-->
            <div id="tabContainer"></div>
            <!--<div id="myTabContent" class="tab-content">-->
                <!--<div class="tab-pane fade in active" id="home"></div>-->
            <!--</div>-->


        </section>
        <!-- /.content -->
    </div>

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
        </div>
        <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark" th:include="/common/main_controlSidebar :: controlSidebar"></aside>
</div>
<div th:include="/common/onload_js :: onloadJS"></div>
<!-- 加载页面-->
<script>

    $(function () {
        add();
    });
    $("#tabContainer").tabs({
        data: [{
            id: 'home',
            text: '首页',
            url: "tab_first.html",
            closeable: false
        }],
        showIndex: 0,
        loadAll: false
    });
    function add() {
        $("a[data-toggle]").each(function () {
            $(this).bind('click', function (event) {
                var container = $(this).attr("href");
                var url = $(this).attr("data-url");
                var tagName = $(this).children('span').html();
                var ID = container.substring(1);
                $("#tabContainer").data("tabs").addTab({id: ID, text: tagName, closeable: true, url: url});
            });
        });
    }
</script>
</body>
</html>